[submodule "tools/unity"]
	path = tools/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "tools/tiny-AES-c"]
	path = tools/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "tools/hawkmoth"]
	path = tools/hawkmoth
	url = git@github.com:jnikula/hawkmoth.git
